<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

    <!-- JS component -->
    <script type="module" src='/static/js/cart_init.js' defer></script>

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <div class="cart-header">
        <h1>
            CodeCool shop
        </h1>
        <h3>
            The merch that you have always wanted!
        </h3>
    </div>
<h3>Shopping cart</h3>
<table class="table-data container">
    <tr>
        <th>Name:</th>
        <th>Quantity:</th>
        <th>Price:</th>
        <th>Total price:</th>
    </tr>
    <tr th:each="item,iterStat : ${items}" th:attr="data-id=${item.id}">
        <td th:text="${item.name}"></td>
        <td class="quantity" th:text="${item.quantity}"></td>
        <td th:text="${item.defaultPriceForOne + ' ' + item.defaultCurrency}"></td>
        <td th:text="${item.defaultPriceSum + ' ' + item.defaultCurrency}"></td>
    </tr>
</table>

<button id="checkout-button">checkout</button>

<div class="modal" id="checkOutModal">
    <div class="modal-content">
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form action="/cart_review" method="POST">

                        <div class="row">
                            <div class="col-50">
                                <h3>Billing Address</h3>
                                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                <input type="text" id="fname" name="firstname" placeholder="John M. Doe" required>
                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" id="email" name="email" placeholder="john@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                <input type="text" id="adr" name="address" placeholder="542 W. 15th Street" required>
                                <label for="city"><i class="fa fa-institution"></i> City</label>
                                <input type="text" id="city" name="city" placeholder="New York" required>

                                <div class="row">
                                    <div class="col-50">
                                        <label for="country">Country</label>
                                        <input type="text" id="country" name="country" placeholder="NY" required>
                                    </div>
                                    <div class="col-50">
                                        <label for="zip">Zip</label>
                                        <input type="number" id="zip" name="zip" placeholder="10001" required>
                                    </div>
                                </div>
                                <div class="shipping-address hide">
                                    <h3>Shipping Address</h3>
                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                    <input type="text" id="sadr" name="saddress" placeholder="542 W. 15th Street" >
                                    <label for="scity"><i class="fa fa-institution"></i> City</label>
                                    <input type="text" id="scity" name="scity" placeholder="New York" >

                                    <div class="row">
                                        <div class="col-50">
                                            <label for="scountry">Country</label>
                                            <input type="text" id="scountry" name="scountry" placeholder="NY" >
                                        </div>
                                        <div class="col-50">
                                            <label for="szip">Zip</label>
                                            <input type="number" id="szip" name="szip" placeholder="10001" >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-50">
                                <div class="cancel"><span class="iconify" data-icon="bx:bx-x" data-inline="false"></span></div>
                                <h3>Payment</h3>
                                <label for="cname">Name on Card</label>
                                <input type="text" id="cname" name="cardname" placeholder="John More Doe" required>
                                <label for="ccnum">Credit card number</label>
                                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" pattern="^([0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4})\b">
                                <label for="expmonth">Exp Month</label>
                                <select id="expmonth" required>
                                    <option value="01">January</option>
                                    <option value="02">February </option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <div class="row">
                                    <div class="col-50">
                                        <label for="expyear">Exp Year</label>
                                        <select id="expyear" required>
                                            <option value="16"> 2021</option>
                                            <option value="17"> 2022</option>
                                            <option value="18"> 2023</option>
                                            <option value="19"> 2024</option>
                                            <option value="20"> 2025</option>
                                            <option value="21"> 2026</option>
                                        </select>
                                    </div>
                                    <div class="col-50">
                                        <label for="cvv">CVV</label>
                                        <input type="text" id="cvv" name="cvv" placeholder="352" minlength="3" maxlength="3" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <label>
                            <input id="checkbox" type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                        </label>
                        <input type="submit" value="Pay" class="btn">
                    </form>
                </div>
            </div>
        </div>
        <!--    <div class="col-25">-->
        <!--      <div class="container">-->
        <!--        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>-->
        <!--        <p><a href="#">Product 1</a> <span class="price">$15</span></p>-->
        <!--        <p><a href="#">Product 2</a> <span class="price">$5</span></p>-->
        <!--        <p><a href="#">Product 3</a> <span class="price">$8</span></p>-->
        <!--        <p><a href="#">Product 4</a> <span class="price">$2</span></p>-->
        <!--        <hr>-->
        <!--        <p>Total <span class="price" style="color:black"><b>$30</b></span></p>-->
        <!--      </div>-->
        <!--    </div>-->
    </div>

</div>
</body>
</html>