<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div id="cartModal" class="modal">
        <div class="modal-content">
            <h3>Shopping cart</h3>
            <table class="table-data">
                <tr>
                    <th>Name:</th>
                    <th>Quantity:</th>
                    <th>Price:</th>
                    <th>Total price:</th>
                </tr>
                <tr th:each="item,iterStat : ${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.defaultPriceForOne + ' ' + item.defaultCurrency}"></td>
                    <td th:text="${item.defaultPriceSum + ' ' + item.defaultCurrency}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>